body{
    background-color:#2E8B57;
}
/*conf de tabelas*/
table{
    font-family: Georgia, serif;
    border: 6px solid #943954;
    background-color: #D4EED1;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

table td, th {
    border: 1px solid #943954;
    padding: 3px 2px;
    text-align: center;

}
table tbody td {
    font-size: 13px;
}
table thead {
    background: #943954;
    background: -moz-linear-gradient(top, #af6a7f 0%, #9e4c65 66%, #943954 100%);
    background: -webkit-linear-gradient(top, #af6a7f 0%, #9e4c65 66%, #943954 100%);
    background: linear-gradient(to bottom, #af6a7f 0%, #9e4c65 66%, #943954 100%);
    border-bottom: 0px solid #444444;
}
table thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: left;
    border-left: 2px solid #943954;
}
table thead th:first-child {
    border-left: none;
}

table tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #F0F0F0;
    background: #943954;
    background: -moz-linear-gradient(top, #af6a7f 0%, #9e4c65 66%, #943954 100%);
    background: -webkit-linear-gradient(top, #af6a7f 0%, #9e4c65 66%, #943954 100%);
    background: linear-gradient(to bottom, #af6a7f 0%, #9e4c65 66%, #943954 100%);
    border-top: 1px solid #24943A;
}
tabletfoot td {
    font-size: 13px;
}
table tfoot .links {
    text-align: right;
}
table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #24943A;
    padding: 2px 8px;
    border-radius: 5px;
}
/* fim conf de tabelas*/


/* inicio @media*/
@media (min-width:370px) {

    .botoesFormulario{
        margin-left:0%;
    }

}

@media (min-width:558px) {

    .botoesFormulario{
        margin-left:50%;
    }
    .grupoBotoes{
        padding-bottom: 20px;
        margin-left: 8%;

    }
}

@media (min-width:903px) {

    .botoesFormulario{
        margin-left:55%;
    }
    .grupoBotoes{
        padding-bottom: 20px;
        margin-left: 31%;

    }
}
/* fim @media*/

/* inicio Menu dropDown*/
.menu-drop{
    display: inline-block;
    position: relative;
}
.drop-content{
    display: none;
    background-color: #E4A87A;
    position: absolute;
    z-index: 1;
}
.drop-content a{
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover{
    background-color: #C9936F;
}
.menu-drop:hover .drop-content{
    display: block;
}
.menu-drop:hover button[name="drop"]{
    background-color: #E2703D
}
/* fim Menu dropDown*/


.imgNew{
    width: 20px;
    height: 20px;
    margin-left: 4px;

}

.grupoBotoes{
    padding-bottom: 20px;
    margin-left: 1%;

}

.logo-sru{
    width: 120px;
    height: 120px;
    margin-bottom: 10px
}


legend {
    padding-left: 90%;
}
.fieldTipoRefeicao{
    width: 60%;
    height: 10%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}
.fieldTipoRefeicao *{
    padding-left: 11.5%;
}
.lblTipoRefeicao{
margin-left: 28%;
}
#failMessage{
    color: #000000;
    margin-left:10%;
    align-items: center;
}
#failMessage h4{

    margin-left:30%;

}
.modalEditar{

    width: 100%;
    height: 50%;

}
.modalEditar h4{
    margin-left:15%;

}
.modalEditar .btn-group-sm{
    margin-left:25%;
    margin-bottom: 2%;
}
.iconTable {
    width: 30px;
    height: 30px;
    padding: 5px

}

.botoesFormulario{
    margin-left: 9%;
}

.glyphicon-calendar {
    font-size: 20px
}

.campoBusca {
    margin-left: 50%;
    margin-top: 1%;
}

.homeBusca{
    margin-top: 1%;
    margin-left: 30%;
}

.selectTipoCardapio{
    margin-left: 79%;
}

.botoesBusca{
    padding-top: 1%;
    padding-left: 12%
}